@model List<Order>

@{
    ViewData["Title"] = "Narudžbe";
}

<div class="container">
    <h1 class="display-4">Narudžbe</h1>

    <div class="row pb-3">
        <div class="col-6"></div>
        <div class="col-6 text-end">
            <a asp-controller="Restaurant" asp-action="CreateOrUpdateOrder" class="btn btn-primary">
                Nova narudžba
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped" style="text-align: center">
        <thead>
            <tr>
                <th>Kupac</th>
                <th>Status</th>
                <th>Vrijeme narudžbe</th>
                <th>Način plaćanja</th>
                <th>Adresa dostave</th>
                <th>Kontakt broj</th>
                <th>Napomena</th>
                <th>Iznos</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        
        <tbody>
            @foreach(var order in Model)
            {
                <tr>
                    <td>@order.Customer</td>
                    <td>@order.Status</td>
                    <td>@order.OrderTime</td>
                    <td>@order.PaymentMethod</td>
                    <td>@order.DeliveryAddress</td>
                    <td>@order.ContactNumber</td>
                    <td>@order.Remark</td>
                    <td>@order.TotalPrice @order.Currency</td>
                    
                    <td>
                        <a asp-controller="OrderItem" asp-action="Items" asp-route-id="@order.Id" class="btn btn-info">Artikli</a>
                    </td>

                    <td>
                        <a asp-controller="Restaurant" asp-action="CreateOrUpdateOrder" asp-route-id="@order.Id" class="btn btn-warning">Uredi</a>
                    </td>

                    <td>
                        <a asp-controller="Restaurant" asp-action="Delete" asp-route-id="@order.Id" class="btn btn-danger">Izbriši</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
